@charset "UTF-8";

@font-face {
    font-family: 'Japan wave';
    src: url(japan_wave/Japan\ wave.ttf) format('truetype');
}

@font-face {
    font-family: 'hachimaki';
    src: url(h_hachimaki/hHachimaki.ttf) format('truetype');
}

:root {
    --cor1: rgb(76, 22, 36);
    --cor2: rgb(102, 30, 49);
    --cor3: rgb(138, 40, 66);
    --cor4: rgb(230, 135, 162);
    --cor5: rgb(255, 206, 220);

    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: "Japan wave", sans-serif;
    --fonte3: "hachimaki", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    background-image: url(midias/imagens/japao-rosa.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header {
    background-color: var(--cor1);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    color: white;
    min-height: 100px;
    text-align: center;
    padding-top: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}

header > h1 {
    padding-top: 5px;
    margin-bottom: 8px;
    font-family: var(--fonte3);
    font-size: 4.5em;
    font-weight: normal;
}

header > p {
    margin: auto;
    padding: 20px;
    font-size: 1.4em;
    max-width: 700px;
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--cor5);
    text-decoration: underline;
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: rgb(251, 255, 249);
    text-decoration: none;
    padding: 11px;
    font-weight: bold;
}

nav > a:hover {
    background-color:  var(--cor3);
    color: var(--cor5);
    border-radius: 5px 5px 0px 0px;
    transition-duration: 0.4s;
}

article {
    background-color: rgba(255, 255, 255, 0.849);
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1100px;
    margin: 70px auto 50px auto;
}

article > h1 {
    font-family: var(--fonte2);
    font-size: 3em;
    padding: 20px;
    text-transform: uppercase;
}

article > p {
    padding: 6px;
    text-indent: 20px;
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: justify;
}

strong {
    color: var(--cor2);
}

article > p a {
    color: var(--cor2);
    text-decoration: none;
}

article > p a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

footer {
    background-color: var(--cor2);
    color: var(--cor5);
    text-align: center;
    font-family: var(--fonte2);
    font-size: 2.4em;
    padding: 10px;
}