@charset "UTF-8";

@media screen and (max-width: 670px) {
    nav > a {
        display: block;
        padding: 10px;
    }

    nav > a:hover {
        border-radius: 5px;
    }

    aside {
        height: 150px;
        line-height: 50px;
    }

    aside:hover {
        height: 170px;
        line-height: 50px;
    }

    .cultura {
        background-image: url(../imagens/players2-responsivo-banner.jpeg);
    }

    .musica {
        background-image: url(../imagens/cidade-responsivo-banner.jpeg);
    }
    
    .livros {
        background-image: url(../imagens/cenário-responsivo-banner.jpeg);
    }
}

@media screen and (max-width: 992px) {
    body#index, body#pagcontatos {
        background-image: url(../imagens/cervo-responsivo.jpeg);
    }
    
    body#pagcultura {
        background-image: url(../imagens/players2-responsivo.jpeg);
    }
    
    body#paglivros {
        background-image: url(../imagens/cenário-responsivo.jpeg);
    }
    
    body#pagmusica {
        background-image: url(../imagens/cidade-responsivo.jpeg);
    }
}